@model MedicalInstitution.Models.Medician

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить медикамент</h1>

<h4>Медикамент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indication" class="control-label"></label>
                <input asp-for="Indication" class="form-control" />
                <span asp-validation-for="Indication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraindicat" class="control-label"></label>
                <input asp-for="Contraindicat" class="form-control" />
                <span asp-validation-for="Contraindicat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Packaging" class="control-label"></label>
                <input asp-for="Packaging" class="form-control" />
                <span asp-validation-for="Packaging" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dasage" class="control-label"></label>
                <input asp-for="Dasage" class="form-control" />
                <span asp-validation-for="Dasage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostMedicianeId" class="control-label"></label>
                <select asp-for="CostMedicianeId" class ="form-control" asp-items="ViewBag.CostMedicianeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Bернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
